h1 Det verkar som om något gick fel.
h3 Du har stött på ett oväntat fel. (#{error})
form
    input type="button" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" value="Skicka din användardata till oss"

h3 Eller:
a href="/"
    img src="https://s3.amazonaws.com/broadtime_thumbnails/672/418460123672/418460123672%3A500.jpg" alt="Ta mig tillbaka"